<div class="f-centered-container">
    <div class="m-container div-fc">
        <div class="cont-centered m-b-20">
            <i class="fas fa-users user-circle-regular"></i>
        </div>
        <div class="cont-centered">
            <h2>AGREGAR EQUIPO</h2>
        </div>
        <form (ngSubmit)="addTeam()" method="post" ngNativeValidate>
            <div class="form-item-container">
                <h4>Nombre de equipo</h4>
                <input [(ngModel)]="team.nombre" required="required" class="input-field w-std" type="text" name="team-name" placeholder="Team Name">
            </div>
            <div class="form-item-container">
                <h4>Imagen (Url)</h4>
                <input [(ngModel)]="team.imagen" required="required" class="input-field w-std" type="text" name="img-team" placeholder="http://domain.com/image">
            </div>
            <div class="form-item-container">
                <input class="btn w-100" type="submit" value="Agregar Equipo">
            </div>
        </form>
    </div>
</div>