<nav class="navbar">
    <div class="navbar-container">
        <a class="logo" routerLink="/">
            TorneoDeportivo
        </a>
        <div class="f-right">
            <a class="navbar-option navbar-a" routerLink="/">Inicio</a>
            <a class="navbar-option navbar-a" routerLink="/signin">Iniciar Sesión</a>
            <a class="navbar-option navbar-a" routerLink="/signup">Registrarse</a>
        </div>
    </div>
    <button class="navbar-option burger-btn"><i class="fal fa-bars"></i></button>
</nav>
<div class="g-container">
    <router-outlet>
    </router-outlet>
</div>