<div class="m-container w-100">
    <h2 class="m-b-20">GRÁFICAS Y RESULTADOS</h2>
    <div class="row">
        <div class="left-column">
            <button class="btn m-b-20">Generar Reporte</button>
            <table class="table-standard m-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Equipo</th>
                        <th>Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lorem</td>
                        <td>12</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right-column">
            <div style="width: 300px; height: 300px; background-color: red; border-radius: 50%;"></div>
        </div>
    </div>
</div>