<div class="f-centered-container">
    <div class="m-container div-fc">
        <div class="cont-centered m-b-20">
            <h2>ADMINISTRAR</h2>
        </div>
        <div class="grid-2">
            <a routerLink="admin/leagues" class="m-container shadowed-div option-panel">
                <div>
                    <img src="../../../assets/dist/img/sports_soccer_black_24dp.svg" alt="soccer-ball.jpg">
                </div>
                <div>
                    <span>Ligas</span>
                </div>
            </a>
            <a routerLink="admin/all-users" class="m-container shadowed-div option-panel">
                <div>
                    <img src="../../../assets/dist/img/groups_black_24dp.svg" alt="soccer-ball.jpg">
                </div>
                <div>
                    <span>Usuarios</span>
                </div>
            </a>
            <a routerLink="/admin/charts" id="charts" class="m-container shadowed-div option-panel">
                <div>
                    <img src="../../../assets/dist/img/timeline_black_24dp.svg" alt="soccer-ball.jpg">
                </div>
                <div>
                    <span>Estadísticas</span>
                </div>
            </a>
        </div>
    </div>
</div>