.img-option-index {
    width: 100px;
}

.option-panel {
    text-decoration: none;
    color: black
}

.option-panel img {
    width: 65px;
}

.option-panel div {
    text-align: center;
}

.option-panel span {
    font-size: 22px;
}