.img-option-index {
    width: 100px;
}

.option-panel {
    text-decoration: none;
    color: black
}

.option-panel img {
    width: 65px;
}

.option-panel div {
    text-align: center;
}

.option-panel span {
    font-size: 22px;
}

#charts {
    grid-column: 1/3;
}

#left-container {
    padding-right: 40px
}

#control-panel {
    background-image: url("../../../assets/dist/img/svg_1.png");
    background-position-y: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1135px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
}