<div class="m-container w-100">
    <div class="row">
        <div class="left-column cont-centered">
            <img class="logo m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png " alt="logo-img ">
        </div>
        <div class="right-column">
            <h1 class="m-b-20 title-league m-t-20">Liga Lorem Ipsum</h1>
            <div class="grid-2">
                <button routerLink='/user/my-leagues/league/add-team' class="btn add-btn"><i class="fas fa-plus-circle"></i> Agregar Equipo</button>
                <button routerLink="/user/my-leagues/league/get-table" class="btn purple-button"><i class="fas fa-table"></i> Ver Tabla</button>
                <button class="btn yellow-button "><i class="fas fa-chart-pie"></i> Gráfica</button>
                <button class="btn turquoise-button"><i class="fas fa-calendar-alt"></i> Jornadas</button>
            </div>
        </div>
    </div>
    <div class="row m-t-40">
        <div class="grid-4">
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div style="position: relative" class="m-container shadowed-div cont-centered">
                <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
                <h5 class="m-b-20 m-h5">Premier League</h5>
                <a href="#" class="btn a-formatted">Ver Liga &raquo;</a>
                <div class="delete-edit-buttons-container">
                    <button class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                    <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>