<div class="m-container w-100">
    <div class="row">
        <div class="left-column cont-centered">
            <img class="logo m-b-20" src={{league.image}} alt="logo-img ">
        </div>
        <div class="right-column">
            <h1 class="m-b-20 title-league m-t-20">{{league.nombre}}</h1>
            <div class="grid-2">
                <button (click)="addTeam()" class="btn add-btn"><i class="fas fa-plus-circle"></i> Agregar Equipo</button>
                <button routerLink="/user/my-leagues/{{league._id}}/get-table" class="btn purple-button"><i class="fas fa-table"></i> Ver Tabla</button>
                <button routerLink="/user/my-leagues/{{league._id}}/chart" class="btn yellow-button "><i class="fas fa-chart-pie"></i> Gráfica</button>
                <button routerLink="/user/my-leagues/{{league._id}}/journey" class="btn turquoise-button"><i class="fas fa-calendar-alt"></i> Jornadas</button>
            </div>
        </div>
    </div>
    <div class="row m-t-40">
        <h2 class="m-b-20 m-t-20">TODOS LOS EQUIPOS</h2>
        <div class="grid-4">
            <div *ngFor="let x of teams" style="position: relative" class="m-container shadowed-div cont-centered f-centered-container">
                <div>
                    <img style="width: 95%" class="m-b-20" src={{x.imagen}} alt="logo-img">
                    <h5 class="m-b-20 m-h5">{{x.nombre}}</h5>
                    <div class="delete-edit-buttons-container">
                        <button routerLink="/user/my-leagues/{{idleague}}/edit/{{x._id}}" class="delete-edit-button edit-button-1"><i class="fas fa-pencil-alt"></i></button>
                        <button (click)="deleteTeam(x._id)" class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="teams.length === 0">
            <div class="cont-centered">
                <img class="m-b-40" id="sad-face" src="https://img.icons8.com/ios/452/sad.png" alt="sad-face.png">
                <h1>Aún no hay equipos :(</h1>
            </div>
        </ng-container>
    </div>
</div>