<div class="f-centered-container">
    <div class="m-container div-fc">
        <div class="cont-centered m-b-20">
            <img class="user-circle-regular" src="../../../assets/dist/img/user-circle-regular.svg">
        </div>
        <div class="cont-centered">
            <h2>INICIAR SESION</h2>
        </div>
        <form method="post" ngNativeValidate>
            <div class="form-item-container">
                <h4>Email</h4>
                <input class="input-field w-std" type="email" name="username" placeholder="example@domain.com">
            </div>
            <div class="form-item-container">
                <h4>Contraseña</h4>
                <input class="input-field w-std" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-item-container">
                <input class="btn w-100" type="submit" value="Iniciar Sesión">
            </div>
        </form>
    </div>
</div>