<div class="m-container w-100">
    <h2 class="m-b-20">TODOS LOS USUARIOS</h2>
    <table class="table-standard m-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Lorem</td>
                <td>lorem123</td>
                <td>lorem@ipsum.com</td>
                <td>Administrador</td>
                <td>
                    <a href="#">Editar</a>
                </td>
                <td>
                    <a style="color: #e74c3c" href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem</td>
                <td>lorem123</td>
                <td>lorem@ipsum.com</td>
                <td>Administrador</td>
                <td>
                    <a href="#">Editar</a>
                </td>
                <td>
                    <a style="color: #e74c3c" href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem</td>
                <td>lorem123</td>
                <td>lorem@ipsum.com</td>
                <td>Administrador</td>
                <td>
                    <a href="#">Editar</a>
                </td>
                <td>
                    <a style="color: #e74c3c" href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem</td>
                <td>lorem123</td>
                <td>lorem@ipsum.com</td>
                <td>Administrador</td>
                <td>
                    <a href="#">Editar</a>
                </td>
                <td>
                    <a style="color: #e74c3c" href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Lorem</td>
                <td>lorem123</td>
                <td>lorem@ipsum.com</td>
                <td>Administrador</td>
                <td>
                    <a href="#">Editar</a>
                </td>
                <td>
                    <a style="color: #e74c3c" href="#">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>