<div class="f-centered-container">
    <div class="m-container div-fc">
        <div class="cont-centered m-b-20">
            <i class="fas fa-shield-alt user-circle-regular"></i>
        </div>
        <div class="cont-centered">
            <h2>EDITAR LIGA</h2>
        </div>
        <form (submit)="editLeague()" method="post" ngNativeValidate>
            <div class="form-item-container">
                <h4>Nombre de la liga</h4>
                <input [(ngModel)]="league.nombre" class="input-field w-std" required="required" type="text" name="nombre" placeholder="League Name">
            </div>
            <div class="form-item-container">
                <h4>Imagen (Url)</h4>
                <input [(ngModel)]="league.image" class="input-field w-std" required="required" type="text" name="image" placeholder="http://domain.com/image.png">
            </div>
            <div class="form-item-container">
                <input class="btn w-100" type="submit" value="Editar Liga">
            </div>
        </form>
    </div>
</div>