<div class="m-container w-100">
    <h2 class="m-b-20">LIGAS DE {{user.nombre | uppercase}}</h2>
    <div class="grid-4">
        <div style="position: relative" class="m-container shadowed-div cont-centered">
            <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
            <h5 class="m-b-20 m-h5">Premier League</h5>
            <a routerLink="/admin/charts/leagues-by-user-id/chart" class="btn a-formatted">Ver Gráficas &raquo;</a>
        </div>
    </div>
</div>