<div class="m-container w-100">
    <h2 class="m-b-20">LIGAS DE FABIO LOPEZ</h2>
    <div class="grid-4">
        <div style="position: relative" class="m-container shadowed-div cont-centered">
            <img style="width: 95%" class="m-b-20" src="https://seeklogo.com/images/P/premier-league-new-logo-D22A0CE87E-seeklogo.com.png" alt="logo-img">
            <h5 class="m-b-20 m-h5">Premier League</h5>
            <a routerLink="/admin/leagues/leagues-by-user-id/edit" class="btn a-formatted">Ver Gráficas &raquo;</a>
            <div class="delete-edit-buttons-container">
                <button class="delete-edit-button delete-button-1"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
</div>